<section>

    <!-- <article>
        <blockquote><%= data.type %></blockquote>
    </article>

    <article>
        <blockquote>“Item 2”</blockquote>
    </article>

    <article>
        <blockquote>“Item 3”</blockquote>
    </article>

    <article>
        <blockquote>“Item 4”</blockquote>
    </article>

    <article>
        <blockquote>“Item 5”</blockquote>
    </article>

    <article>
        <blockquote>“Item 6”</blockquote>
    </article> -->

    <% data.forEach(data => {%>

        <article>
            <h2><%= data.id %></h2>
        </article>

    <%}) %>

</section>