<section>

    <article>
        <blockquote>“Item 1”</blockquote>
    </article>

    <article>
        <blockquote>“Item 2”</blockquote>
    </article>

    <article>
        <blockquote>“JItem 3”</blockquote>
    </article>

    <article>
        <blockquote>“Item 4”</blockquote>
    </article>

    <article>
        <blockquote>“Item 5”</blockquote>
    </article>

    <article>
        <blockquote>“Item 6”</blockquote>
    </article>

</section>