<section>

    <ul class="carousel">
        <% data.forEach(data => {%>

                <!-- <article> -->
                    <li><img src="https://fdnd-agency.directus.app/assets/<%= data.foto %>" alt="<%= data.type %> <%= data.id %>"></li>
                <!-- </article> -->


            <%}) %>
        
      </ul>
   


</section>


