<%- include('./partials/head') %>

<body>

    <header>
        <h1>Luh calm fit</h1>
        <nav>
            <ul>
                <li>Home</li>
                <li>Summer</li>
                <li>Winter</li>
                <li>Fall</li>
                <li>Spring</li>
            </ul>
        </nav>
    </header>

    <main>
    
        <div class="test">
            <button><</button>
        <%- include('./partials/carrousel') %>
        <button>></button> 
        </div>

        <div class="test">
            <button><</button>
        <%- include('./partials/carrousel') %>
        <button>></button> 
        </div>

        <div class="test">
            <button><</button>
        <%- include('./partials/carrousel') %>
        <button>></button> 
        </div>
       


    </main>
</body>
</html>