<%- include('./partials/head') %>

<body>

    <header>
        <h1>Lemuel</h1>
        <nav>
            <ul>
                <li>Home</li>
                <li>Summer</li>
                <li>Winter</li>
                <li>Fall</li>
                <li>Spring</li>
            </ul>
        </nav>
    </header>

    <main>
        
        <!-- <section>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </section> -->
        <div class="test">
            <button><</button>
        <%- include('./partials/carrousel') %>
        <button>></button> 
        </div>

        <div class="test">
            <button><</button>
        <%- include('./partials/carrousel') %>
        <button>></button> 
        </div>

        <div class="test">
            <button><</button>
        <%- include('./partials/carrousel') %>
        <button>></button> 
        </div>
       


    </main>
</body>
</html>